In [2]:
print("hello")

hello

In [ ]:
Creating a Series

In [4]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
Creating a DataFrame

In [6]:
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
Reading Data from Files

In [18]:
df=pd.read_csv('transactions.csv')

print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [ ]:
There is also a tail() method for viewing the last rows of the DataFrame.

In [20]:
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [ ]:
describe(): Summarizes data with metrics like mean, count,
min, max, etc.

In [24]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [28]:
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [30]:
print(df[['UserID', 'ProductID']])

   UserID  ProductID
0     7.0          2
1     3.0          4
2     3.0          3
3     1.0          2
4     2.0          4
5     2.0          5
6     3.0          4
7     NaN          2
8     7.0          4
9     3.0          4

In [34]:
print(df.iloc[1]) #➢ Accessing rows by index

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [36]:
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
Filtering Data

In [38]:
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago

In [ ]:
Renaming Columns

In [40]:
df.rename(columns={'Name': 'Full Name', 'Age': 'Years'},inplace=True)
print(df)

  Full Name  Years         City
0     Alice     25     New York
1       Bob     30  Los Angeles
2   Charlie     35      Chicago

In [42]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [ ]:
Handling Missing Data

In [44]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quant              0
dtype: int64

In [53]:
df.dropna(inplace=False)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [55]:
df.dropna(inplace=True)       #Drop rows with missing values

In [57]:
df=pd.read_csv('transactions.csv')

print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [81]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [ ]:
Subsetting data

In [67]:
subset = df[df['Quantity'] > 1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [69]:
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [ ]:
Subset by columns TransactionID and TransactionDate with
logical operator

In [87]:
subset = df[df['Quantity'] > 1][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [ ]:
Subset columns by a variable list of column names

In [89]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [ ]:
Subset columns excluding a variable list of column names

In [91]:
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col notin columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [ ]:
Convert the TransactionDate column to type Date

In [93]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [ ]:
Insert a new column, Foo = UserID + ProductID

In [101]:
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [ ]:
Modifying data frames

In [111]:
df['NewColumn'] = df['Quantity'] * 2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

In [3]:
import pandas as pd

# Load dataset
df = pd.read_csv('transactions.csv')
# 1. Print Summary of transaction dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [5]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [116]:
# 2. Print Number of Attributes (Columns)
print("Number of Attributes:", len(df.columns))

Number of Attributes: 5

In [7]:
print(df.shape[1])

5

In [9]:
 #3. Print Number of Records (Rows)
print("Number of Records:", len(df))
print(df.shape[0])

Number of Records: 10
10

In [128]:
# 4. Get the row names (Index)
print("Row Names:", df.index)

Row Names: RangeIndex(start=0, stop=10, step=1)

In [13]:
# 5.  Get the column names
print("column names", df.columns)

column names Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [130]:
# 6. View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [15]:
# 7. Change the name of column “Quantity” to “Quant”
df.rename(columns={'Quantity': 'Quant'}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [134]:
# 8. Change the name of columns ProductID and UserID to PID and UID
df.rename(columns={'ProductID': 'PID', 'UserID': 'UID'}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [136]:
# 9. Order the rows of transactions by TransactionId descending
df_sorted = df.sort_values(by="TransactionID", ascending=False)
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

In [35]:
# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending
df_sorted = df.sort_values(by=["Quant", "TransactionDate"], ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
6              7      2013-12-30     3.0          4      1
4              5      2013-06-06     2.0          4      1
2              3      2011-06-16     3.0          3      1
1              2      2011-05-26     3.0          4      1
0              1      2010-08-21     7.0          2      1

In [43]:
# 11. Set the column order
df = df[['ProductID', 'Quant', 'TransactionDate', 'TransactionID', 'UserID']]
print(df.head())

   ProductID  Quant TransactionDate  TransactionID  UserID
0          2      1      2010-08-21              1     7.0
1          4      1      2011-05-26              2     3.0
2          3      1      2011-06-16              3     3.0
3          2      3      2012-08-26              4     1.0
4          4      1      2013-06-06              5     2.0

In [45]:
# 12. Make UserID the first column
cols = ['UserID'] + [col for col in df.columns if col != 'UserID']
df = df[cols]
print(df.head())

   UserID  ProductID  Quant TransactionDate  TransactionID
0     7.0          2      1      2010-08-21              1
1     3.0          4      1      2011-05-26              2
2     3.0          3      1      2011-06-16              3
3     1.0          2      3      2012-08-26              4
4     2.0          4      1      2013-06-06              5

In [146]:
# 13. Extracting arrays from a DataFrame - Get the 2nd column
print(df.iloc[:, 1])

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: PID, dtype: int64

In [148]:
# 14. Get the ProductID (PID) Array
print(df['PID'].values)

[2 4 3 2 4 5 4 2 4 4]

In [150]:
# 15. Get the ProductID array using a variable
product_id_array = df['PID'].to_numpy()
print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]

In [154]:
# 16. Row subsetting: Subset rows 1, 3, and 6 (zero-based index)
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
5  2.0    5      6      2013-12-23              6

In [49]:
# 17. subset rows excluding 1,3 and 6
subset_rows=df.drop(index=[0,2,5])
print(subset_rows)

   UserID  ProductID  Quant TransactionDate  TransactionID
1     3.0          4      1      2011-05-26              2
3     1.0          2      3      2012-08-26              4
4     2.0          4      1      2013-06-06              5
6     3.0          4      1      2013-12-30              7
7     NaN          2      3      2014-04-24              8
8     7.0          4      3      2015-04-24              9
9     3.0          4      4      2016-05-08             10

In [51]:
#18. Subset the first three rows
print(df.head(3))

   UserID  ProductID  Quant TransactionDate  TransactionID
0     7.0          2      1      2010-08-21              1
1     3.0          4      1      2011-05-26              2
2     3.0          3      1      2011-06-16              3

In [55]:
#19. Subset the last 2 rows
print(df.tail(2))

   UserID  ProductID  Quant TransactionDate  TransactionID
8     7.0          4      3      2015-04-24              9
9     3.0          4      4      2016-05-08             10

In [57]:
#20. Subset rows excluding the last 2 rows

print(df.iloc[:-2])

   UserID  ProductID  Quant TransactionDate  TransactionID
0     7.0          2      1      2010-08-21              1
1     3.0          4      1      2011-05-26              2
2     3.0          3      1      2011-06-16              3
3     1.0          2      3      2012-08-26              4
4     2.0          4      1      2013-06-06              5
5     2.0          5      6      2013-12-23              6
6     3.0          4      1      2013-12-30              7
7     NaN          2      3      2014-04-24              8

In [11]:
#print(df.info())

import pandas as pd

# Load dataset
df = pd.read_csv('transactions.csv')
# 1. Print Summary of transaction dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [87]:
#21. Subset rows excluding the first 3 rows
print(df.iloc[3:])

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [89]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [93]:
#22. Subset rows where Quantity > 1
subset=df[df['Quantity']>1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [97]:
#. Subset rows where UserID = 2
subset=df[df['UserID']==2]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [99]:
#24. Subset rows where Quantity > 1 and UserID = 2
subset=df[(df['Quantity']>1) & (df['UserID']==2)]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [13]:
#25. Subset rows where Quantity + UserID is >3
subset=df[(df['Quantity']+df['UserID'])>3]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [1]:
#26. Subset rows where an external array, foo, is True

foo=[True,False,True,False]*(len(df)//3)
#subset=df[foo]
print(foo)

NameError: name 'df' is not defined

In [71]:
#27. Subset rows where an external array, bar, is positive
import numpy as np 
bar=np.random.randint(-10,10,size=len(df)) 
print(df[bar>0])

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [77]:
#28. Subset rows where foo is True or bar is negative
foo=foo[:len(df)]  # for both equal length
print(len(foo), len(bar))

10 10

In [79]:
print(df[(foo) | (bar<0)])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [85]:
#29. Subset rows where foo is not True and bar is not negative

print(df[~(foo) & ~(bar<0)])

TypeError: bad operand type for unary ~: 'list'

In [87]:
#30. Subset by columns 1 and 3
print(df.iloc[:,[0,2]])

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

In [91]:
#31. Subset by TransactionID and TransactionDate
print(df[["TransactionID","TransactionDate"]])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [93]:
#32. Subset TransactionID and TransactionDate using logical operator
print(df[df["Quantity"]>1] [["TransactionID","TransactionDate"]])

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [101]:
#33. Subset columns by a variable list of column names
columns_sel=["TransactionID","TransactionDate"]
print(df[columns_sel])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [ ]:
#34. Subset columns excluding a variable list of column names

In [105]:
#35. Inserting and updating values
df["Newcolumn"]=df["Quantity"]*2
df.loc[df["UserID"]==2,"Quantity"]=100
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Newcolumn
0              1      2010-08-21     7.0          2         1          2
1              2      2011-05-26     3.0          4         1          2
2              3      2011-06-16     3.0          3         1          2
3              4      2012-08-26     1.0          2         3          6
4              5      2013-06-06     2.0          4       100          2

In [109]:
#36. Convert TransactionDate column to Date type
df["TransactionDate"]=pd.to_datetime(df["TransactionDate"])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
Newcolumn                   int64
dtype: object

In [111]:
#37. Insert a new column Foo = UserID + ProductID
df["foo"]=df["UserID"]+df["ProductID"]
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Newcolumn  foo
0              1      2010-08-21     7.0          2         1          2  9.0
1              2      2011-05-26     3.0          4         1          2  7.0
2              3      2011-06-16     3.0          3         1          2  6.0
3              4      2012-08-26     1.0          2         3          6  3.0
4              5      2013-06-06     2.0          4       100          2  6.0